{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Менеджер заметок{% endblock head_title %}</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href='{% static "note/base.css" %}'/>
    <script src='{% static "js/jquery-2.2.4.min.js" %}' type="text/javascript"></script>
    <!--<script src='{% static "js/jquery-3.4.1.min.js" %}' type="text/javascript"></script>-->
    <script src='{% static "js/filters.js" %}' type="text/javascript"></script>
    <style>
    {% block style %}{% endblock style %}
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/note">Заметки</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if user.is_active %}
            {% if user.is_authenticated %}
                <li><a href="/note/create">Добавить заметку</a></li>
            {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_active %}
            <li> <a href="/auth/logout">Выход ({{ user.username }})</a></li>
        {% else %}
            {% if "auth/" not in request.get_full_path %}
                <li> <a href="/auth/login">Вход</a></li>
                <li> <a href="/auth/user-create">Регистрация</a></li>
            {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<br><br><br><br>

{% block user_create %}{% endblock user_create %}
{% block login %}{% endblock login %}

<div class="container">
    {% include "messages_display.html" %}

    {% if user.is_authenticated %}
        {% block content %}{% endblock content %}
    {% else %}

    <div class="col-sm-12">
        <p>Войдите или зарегистрируйтесь, чтобы увидеть свои заметки.</p>
    </div>
    
    {% endif %}

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>
